<a href="https://colab.research.google.com/github/ujwala1720/peer_graded_assignment/blob/main/Graded_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# ASSIGNMENT

In [ ]:
# I have created markdown cells and listed tools,libraries and languages used in data science and some exdcutable codes mentioned in my assignment

In [ ]:
#List Of Data Science Languages
Python
R
Julia
Java Script

In [ ]:
#List Of Data Science Libraries
Numpy
Pandas
Scikitlearn
matplotlib

In [3]:
#Table of data science tools
import pandas as pd
df=pd.DataFrame()

df['SI NO'] = ['1','2','3','4','5']
df['Tools']=['Pandas','Jupyter','Numpy','Scikitlearn','Git']
print(df)

  SI NO        Tools
0     1       Pandas
1     2      Jupyter
2     3        Numpy
3     4  Scikitlearn
4     5          Git

In [4]:
#Arithmetic Expression Examples
(9 / 3) * (2 + 7)

27.0

In [8]:
a= int(input('Enter the number:'))
b= int(input('Enter the number:'))
print(a+b)
print(a*b)

Enter the number:3
Enter the number:5
8
15

In [11]:
total_minutes = int(input('enter number of minutes:'))
hours = total_minutes//60
time = "{}".format(hours)
print(time)

enter number of minutes:120
2

In [ ]:
# Objectives Of Data Science
Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

In [ ]:
#AUTHOR'S Name
Ujwala.k